<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <input id="userInfo" type="text" />
    <input id="input" type="text" />
    <button onclick="send()">Send message</button>
    <pre id="output"></pre>
    <script>

        var output = document.getElementById("output");
        var socket = new WebSocket("ws://localhost:8080/ws");

        socket.onopen = function () {
            output.innerHTML += "Status: Connected\n";
        };

        socket.onmessage = function (e) {
            userInfo = JSON.parse(e.data)
            output.innerHTML += userInfo.UserName + ": " + userInfo.Message + "\n";
        };

        function send() {
            var userInfoJson = {
                userName: document.getElementById("userInfo").value,
                message: document.getElementById("input").value
            }
            console.log(userInfoJson)

            socket.send(JSON.stringify(userInfoJson));
            input.value = ""
            console.log(socket.CONNECTING)
        }
    </script>
</body>

</html>